.sign-in-container {
  display: flex;
  flex-direction: column;
  width: 400px;

  h2 {
    margin: 10px 0;
  }

  .buttons-container {
    display: flex;
    justify-content: space-between;
  }
  // .button {
  //   background-color: #4285f4;
  //   color: white;
  //   width: 165px;
  //   border: none;
  //   :hoover {
  //     background-color: #357ae8;
  //     border: none;
  //   }
  // }
}
